// GROUP=Talky
// NAME=Gamifikace v komerčním prostředí
// LOCALE=cs
// ORDER=1
doctype html
include ./mixins/header.pug
include ./mixins/containers.pug
include ./mixins/containers_aph.pug
include ./mixins/title.pug
include ./mixins/quotes.pug
include ./mixins/summary.pug

- var themePath = '../themes/aph/';
- var globalAssets = '../assets/all/';
- var defaultBgr = 'backgrounds/marioworld.jpg';
- var imgAssets = '../assets/gamification/';

html(lang='cs')
	+header('Gamifikace v komerčním prostředí', 'Adam Vesecký', themePath + 'resources/favicon.png', themePath + 'theme_aph.scss')
	.reveal
		.slides
			+titleGamification('', 'Zvaná přednáška', imgAssets+'gamifikace_title.png')
			include ./chapters/gamification.pug
			+frameInbox('Literatura')
				div
					ul
						li
							p.highlight Gabe Zichermann. 2013. The Gamification Revolution: How Leaders Leverage Game Mechanics to Crush the Competition 
					div.text-center
						img.height-650(src=imgAssets+'gamification_revolution.jpg')
			+quote-gamification()

	+footer('Adam Vesecký', 'Projektové řízení, Gamifikace')
	script(src!='../../scripts/reveal-setup.js')
